:root {
    --Strong_cyan: hsl(172, 67%, 45%);

    --Very_dark_cyan: hsl(183, 100%, 15%);
    --Dark_grayish_cyan: hsl(186, 14%, 43%);
    --Dark_grayish_cyan_1: hsl(184, 14%, 56%);
    --Light_grayish_cyan_1: hsl(185, 41%, 84%);
    --Light_grayish_cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

main {
    background-color: var(--White);
    display: flex;
    width: 65%;
    height: auto;
}

header img {
    margin-bottom: 3rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2.5rem;
    border-radius: 1.3rem;
    font-size: 12px;
    gap: 4rem;
}

.bill-amount {
    margin-bottom: 2rem;
}

.bill-amount input {
    background: url(./images/icon-dollar.svg) no-repeat scroll 5% 50%;
}

.number-of-people input {
    background: url(./images/icon-person.svg) no-repeat scroll 5% 50%;
}

.bill-amount input,
.number-of-people input {
    width: 100%;
    height: 2.5rem;
    background-size: 0.8rem;
    text-align: right;
    font-size: 24px;
    font-family: inherit;
    border-radius: 0.4rem;
    background-color: var(--Light_grayish_cyan);
    border: 3px solid var(--White);
    margin-top: 0.5rem;
    outline: none;
}

.bill-amount input:hover,
.number-of-people input:hover,
ul li input:hover {
    border: 3px solid var(--Strong_cyan);
    cursor: pointer;
}

.bill-amount input:focus,
.number-of-people input:focus,
ul li input:focus {
    border: 3px solid var(--Strong_cyan);
}

::placeholder {
    color: var(--Dark_grayish_cyan_1);
}

.number-of-people-title{
    display: flex;
    justify-content: space-between;
}

#error{
    display: none;
    color: rgba(255, 51, 51);
}

.tip {
    margin-bottom: 2rem;
}
.tip h2 {
    margin-bottom: 1rem;
}
.tip ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    font-weight: 500;
}

ul li button {
    width: 100%;
    font-size: 24px;
    padding: 0.5rem;
    font-family: inherit;
    background-color: var(--Very_dark_cyan);
    color: var(--White);
    border: none;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-weight: 700;
}

ul li button:hover {
    background-color: var(--Strong_cyan);
    cursor: pointer;
}

ul li input {
    width: 100%;
    font-size: 24px;
    padding: 0.5rem;
    font-family: inherit;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: var(--Light_grayish_cyan);
    border-radius: 0.5rem;
    border: 3px solid var(--White);
    color: var(--Very_dark_cyan);
}

.result {
    background-color: var(--Very_dark_cyan);
    border-radius: 1rem;
    padding: 4rem 2.5rem 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
}

.result button {
    margin-top: auto;
    font-size: 18px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #0d686d;
    border: none;
    color: var(--Very_dark_cyan);
    font-weight: 700;
    text-transform: uppercase;
}

.result button:hover {
    background-color: var(--Strong_cyan);
    cursor: pointer;
}

.result ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.result ul li div h3 {
    color: var(--White);
    font-size: 16px;
    font-weight: 700;
    margin-top: 1rem;
}

.result ul li h4 {
    color: #22c2aa;
    font-size: 38px;
    font-weight: 900;
}
